@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #2a2c1f;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

section {
  background-color: #939878;
}
.header-section {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 93%;
  height: 40px;
  padding: 10px 0;
}
.header-section div {
  color: white;
}
ul {
  list-style-type: none;
}
ul li h4,
li h5 {
  font-weight: 400;
}
.orange-icon i {
  color: #cf6f49;
}

.nav-section {
  width: 90%;
  margin: 0 auto;
  padding: 5px;

  display: flex;
  justify-content: space-between;
}
.nav-section ul {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.logo button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;
  margin-right: 5px;
}
.nav-section ul li {
  margin: 15px;
}

nav img {
  margin: 0 5px;
}
.btn {
  display: flex;
  align-items: center;

  border: 1px solid rgba(175, 175, 175, 0.445);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.158);
  background-color: white;
  border-radius: 6px;
  padding: 10px 20px;
}
.btn a {
  display: flex;
}
.orange-btn {
  background-color: #cf6f49;
  box-shadow: none;
  color: white;
}
.orange-btn a {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  margin-bottom: 10px;
}
span {
  color: #65665c;
  margin-right: 15px;
}

header .section1 {
  background-color: #f5f5f2;
  position: relative;
  padding-bottom: 131px;
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.picture {
  width: 100%;
}
.big-text {
  font-size: 55px;
  font-weight: bolder;
}
header .section-text {
  width: 60%;
  margin-left: 15%;
}
.topnav {
  overflow: hidden;
}
.searchbar input[type="text"] {
  padding: 6px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
  font-size: 17px;
}
.searchbar {
  display: flex;
}
.searchbar button {
  margin-left: 15px;
}
.gray-btn {
  padding: 5px 15px;
  background-color: #e7e8e3;
  border-radius: 30px;
  color: black;
  font-size: 14px;
}

.logotips {
  display: flex;
  align-items: center;

  margin-top: 65px;
}
.logotips .icons {
  display: flex;
  margin-right: 6%;
}
.logotips ul {
  display: flex;
}
.logotips .first-text {
  line-height: 25px;
  width: 245px;
  margin-left: 6%;
  margin-right: auto;
}
.logotips i {
  color: #737680;
  margin-right: 5px;
}

.how-it-works {
  margin: 120px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: #65665c;
  margin-bottom: 20px;
}
.how-it-works .text {
  margin-top: 20px;
  text-align: center;
  width: 700px;
}

.card {
  margin-bottom: 120px;
  border: 1px solid #e7e8e3;
  border-radius: 16px;
  padding: 35px 40px;
  text-align: center;
  margin: 0 15px;
}
.orange-icon {
  color: #cf6f49;
  background-color: #fae8e1;
  border: none;
  border-radius: 8px;
  width: 45px;
  height: 45px;

  margin-bottom: 25px;
}
.card h1 {
  margin-bottom: 15px;
}

.container {
  width: 93%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.btn-cont {
  display: flex;
}
.btn-borderless {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}
.big-text {
  margin: 25px 0;
}
.section-text1 {
  margin-top: 20%;
  margin-right: 20%;
}
.section-text2 {
  margin-top: 10%;
  margin-left: 10%;
}

.card.card-left {
  border: none;
  text-align: left;
  padding: 0;
  margin: 15px 0 20px 0;
}
.card.card-left h3 {
  margin-bottom: 15px;
}
.big-text {
  font-size: 50px;
}

.big-card {
  margin: 0 15px 30px 15px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.big-card-text {
  padding: 20px;
  line-height: 30px;
}
.card-image {
  width: 100%;
}
.parameters {
  display: flex;
  align-items: center;
}
.data {
  margin-bottom: 15px;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.section-gray {
  background-color: #f5f5f2;
  position: relative;
}
.centered-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.section-gray .btn-cont {
  justify-content: center;
  margin-top: -90px;
}

.dark-gray-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #65665c;
  width: 100%;
  border-radius: 24px;
  color: white;
  transform: translateY(50%);
  text-align: center;
  margin-bottom: 400px;
}
.dark-gray-section .orange-btn {
  margin-bottom: 100px;
}
.dark-icon {
  margin-top: 100px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
}
.white-text {
  color: white;
}
.text.white-text {
  text-align: center;
  color: #e7e8e3;
  width: 55%;
}

.big-card-border {
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin-bottom: 110px;
}
.big-card p {
  width: 90%;
  margin: 10px 0 25px 0;
}
.big-card-text {
  padding: 30px;
}
.customer-card {
  display: flex;
  height: 50px;
}
.customer-name {
  line-height: 25px;
  margin-left: 15px;
}

.pt-1 {
  padding-top: 150px;
}
.pt-y {
  padding: 120px 0;
}
.floated-btn {
  float: right;
}

.text-cont {
  margin-bottom: 80px;
}

.pink-btn {
  background-color: #fae8e1;
  padding: 4px 12px;
}

.text.small-text {
  font-size: 12px;
}
.footer-mail h4 {
  font-weight: 400;
}
footer .footer-mail .text {
  margin: 10px 0;
}
.footer-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-right: 20%;
}
footer ul li h5 {
  margin: 15px 0;
}
footer {
  padding-top: 70px;
}

.small-container {
  width: 75%;
  margin: 0 auto;
}
.small-container span {
  font-size: 14px;
}
.small-container img {
  margin: 10px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

/* adaptable */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
