@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: #939878;
}
.header-box {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 93%;
  height: 40px;
  padding: 10px 0;
  color: white;
}

.nav-box {
  width: 90%;
  margin: 0 auto;
  padding: 5px;

  display: flex;
  justify-content: space-between;
}
.nav-box ul {
  list-style-type: none;

  display: flex;
  align-items: center;
}
.ul-1 button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;
}
.ul-1 li {
  font-weight: 700;
}
.nav-box ul li {
  margin: 15px;
}

img {
  margin: 0 5px;
}
.btn {
  display: flex;
  align-items: center;

  border: 1px solid rgba(175, 175, 175, 0.445);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.158);
  background-color: white;
  border-radius: 6px;
  padding: 10px 20px;
}
.btn a {
  display: flex;
}
.orange-btn {
  background-color: #CF6F49;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: black;
}
