@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: #939878;
}
.header-section {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 93%;
  height: 40px;
  padding: 10px 0;
  color: white;
}
ul {
  list-style-type: none;
}

.nav-section {
  width: 90%;
  margin: 0 auto;
  padding: 5px;

  display: flex;
  justify-content: space-between;
}
.nav-section ul {
  display: flex;
  align-items: center;
}
.ul-1 button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;
}
.ul-1 li {
  font-weight: 700;
}
.nav-section ul li {
  margin: 15px;
}

.nav-1 img {
  margin: 0 5px;
}
.btn {
  display: flex;
  align-items: center;

  border: 1px solid rgba(175, 175, 175, 0.445);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.158);
  background-color: white;
  border-radius: 6px;
  padding: 10px 20px;
}
.btn a {
  display: flex;
}
.orange-btn {
  background-color: #cf6f49;
  box-shadow: none;
}
.orange-btn a {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
h1, h3{
  color: #2a2c1f;
}

.container-1 {
  display: flex;
}
.container-1 .container-section1 {
  width: 50%;
  background-color: #f5f5f2;
}
.big-text {
  font-size: 55px;
  color: #2a2c1f;
  font-weight: bolder;
}
.container-1 .section-text {
  width: 60%;
  margin-left: 15%;
}
.text {
  color: #65665c;
}
.container-1 div {
  margin-top: 10px;
}
.topnav {
  overflow: hidden;
}
.searchbar input[type="text"] {
  padding: 6px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
  font-size: 17px;
}
.searchbar {
  display: flex;
}
.searchbar button {
  margin-left: 15px;
}
.gray-btn {
  border: none;
  padding: 5px 15px;
  background-color: #e7e8e3;
  border-radius: 30px;
}

.under-container{
  display: flex;
  align-items: center;

  margin-top: 65px;
}
.under-container .icons {
  display: flex;
  margin-right: 6%;
}
.under-container ul {
  display: flex;
}
.under-container .first-text {
  color: #2a2c1f;
  line-height: 25px;
  width: 245px;
  margin-left: 6%;
  margin-right: auto;
}
.under-container i {
  color: #737680;
  margin-right: 5px;
}

.how-it-works {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: #65665c;
}
.how-it-works .text {
  margin-top: 20px;

  text-align: center;
  width: 700px;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.card {
  margin-bottom: 120px;
  flex: 0 0 30%;

  border: 1px solid #E7E8E3;
  border-radius: 16px;
  padding: 35px 40px;
  text-align: center;
}
.orange-icon {
  color: #CF6F49;
  background-color: #FAE8E1;
  border: none;
  border-radius: 8px;
  width: 45px;
  height: 45px;

  margin-bottom: 25px;
}
.card h1{
  margin-bottom: 15px;
}

.container-3 {
  display: flex;

  width: 93%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.container-3 .container3-section {
  padding: 100px 80px 0 0;
}
.btn-cont {
  display: flex;
}
.no-border {
  background-color: white;
  border: none;
  margin-left: 10px;
}
.container-3 .big-text {
  margin: 25px 0;
}
.container-3 .text {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
}
.container3-section.container3-section2 {
  margin-left: 5%;
  margin-top: -40px;
}
.card.card-left {
  border: none;
  text-align: left;
  padding: 0;
  margin: 15px 40px 20px 0;

  flex: 0 0 50%;
}
.card.card.card-left h3 {
  margin-bottom: 15px;
}
.container3-section2 .big-text {
  font-size: 50px;
}

.container-4 {
  background-color: #F5F5F2;
}
.top-right {
  position: relative;
  top: 0;
  right: 0;
}